.label {
    -fx-text-fill: #3D52A0;
}

.text-field {
    -fx-background-color: #ADBBDA;
}

.button {
    -fx-background-color: #7091E6;
    -fx-text-fill: #FFFFFF;
}

.table-view {
    -fx-background-color: #EDE8F5;
}

.table-column {
    -fx-text-fill: #3D52A0;
}

.progress-indicator {
    -fx-progress-color: #8697C4;
}
